<div class="content">
  <p>Mes services :</p>

  <div class="categories my-3">
    <span
      (click)="selectCategory(category)"
      *ngFor="let category of categories"
    >
      {{ category.name }}
    </span>
  </div>

  <div class="technos my-3">
    <app-custom-card
      (click)="selectTechno(techno)"
      *ngFor="let techno of relatedTechnos"
      [title]="techno.name"
      [content]="techno.hook"
      [image]="techno.image?.thumbnail"
    >
    </app-custom-card>
  </div>
  <div class="skills my-3">
    <app-custom-card
      routerLink="/skills/{{ skill.id }}/show"
      *ngFor="let skill of relatedSkills"
      [title]="skill.name"
      [content]="skill.hook"
      [image]="skill.image?.thumbnail"
    >
    </app-custom-card>
  </div>
</div>
